<div id="wg-api-football-standings"
    data-host="v3.football.api-sports.io"
    data-key="fcea9d54fecca50b9ec22b0b5d1155a8"
    data-league="39"
    data-season="2021"
    data-theme="dark"
    data-show-errors="true"
    data-show-logos="true"
    class="wg_loader">
</div>

<script
    type="module"
    src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>