<div id="wg-api-football-standings"
    data-host="v3.football.api-sports.io"
    data-key="fcea9d54fecca50b9ec22b0b5d1155a8"
    data-league="<%= selectedLeague.apiId %>"
    data-season="<%= new Date(selectedDate).getMonth() > 6 ? 
        new Date(selectedDate).getFullYear() : new Date(selectedDate).getFullYear() - 1 %>"
    data-theme=""
    data-show-errors="false"
    data-show-logos="true"
    class="wg_loader">
</div>

<script
    type="module"
    src="https://widgets.api-sports.io/2.0.3/widgets.js">
</script>