<%- include('../partials/head') %>
<body>

    <%- include('../partials/navbar') %>
        <div class="match-details-container">
            <div id="wg-api-football-game"
                data-host="v3.football.api-sports.io"
                data-key="fcea9d54fecca50b9ec22b0b5d1155a8"
                data-id="<%= fixtureId %>"
                data-theme="dark"
                data-refresh="2000"
                data-show-errors="false"
                data-show-logos="true">
            </div>
            <script
                type="module"
                src="https://widgets.api-sports.io/2.0.3/widgets.js">
            </script>
        </div>
    <%- include('../partials/footer') %>
</body>
</html>